.so-widget-sow-features-default-c03c10103273 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  
  color: #006738;
}
.so-widget-sow-features-default-c03c10103273 .sow-features-list .sow-features-feature .textwidget > p {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  font-size: 145%;
  
}
.so-widget-sow-features-default-c03c10103273 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  font-size: 140%;
  color: #006738;
}